*{
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2.5rem;
    text-align: center; 
}
h2{
    font-size: 1.5rem;
    text-align: center; 
}
a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted 6px white;
    margin: 20px auto;
    width: 70px;
    border-bottom: none;
}

    /* navbar design starts here */
.navbar{
    background-color: darkgreen;
    padding: 1% 7%;
    text-align: center;
}
.logo{
    width: 100px;
    height: auto;
    margin-left: 50px;
    text-align: left;
}
.nav-heading h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}
.nav-manu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nav-manu a{
    background-color: #0c6168;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 5px;
}
.nav-manu a:hover{
    background-color: gray;

}
[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile */
[class*="col-"]{
    width: 100%;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar design ends here */




/* profile design starts from here */

.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}
.profile .top-weather-icon{
    position: absolute;
    right: 50px;
    top: 20px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'Satisfy', 'cursive';
    font-size: 3rem;
    text-align: center;
}

.profile-desc p{
    color: gray;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;

}

.profile .bottom-weather-icon{
    position: absolute;
    left: 50px;

    bottom: 20px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
}


.profile::after{
    display: table;
    content: '';
    clear: both;
}
/* profile design ends here */



/* <!-- about me starts here --> */

.about-me{
    background-color: #39a4a6;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Monserrat', 'sans-serif';
}

.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 250px;
    width: auto;

}

.about-me p{
    text-align: center;
}

.about-me a{
    font-size: 1.2rem;

}

.cv-button{
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    
    text-align: center;
}

.about-me::after{
    content: '';
    clear: both;
    display: table;
}




    
/* <!-- about me ends here --> */



/* <!-- professional experience start here --> */

.professional-experience{
    padding: 1% 0%;

}

.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 800px;

}
    
.card:hover{

    box-shadow: 0 4px 8px 5px black;
       
}

.card-icon{
    text-align: center;

}

.card-icon img{
    margin: 20px;
    width: 100px;

}

.rounded-img{
    border: 5px solid white;
    border-radius: 35%;
    padding: 10px;
}


.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}


.skills-container{
    padding-right: 45px;


}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 50px 20px;
    position: relative;
    text-transform: uppercase;

}



.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0; 
    width: 100%;
    height: 10px;
    background-color: rgb(86, 86, 153,.5);
    border-radius: 1000px;

}

.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0; 
    width: 0;
    height: 10px;
    background-color: rgb(86, 86, 153,1);
    border-radius: 1000px;
    
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skills-container li.html::after{
    animation-name: html;

}

@keyframes html{
    to{
        width: 90%;

    }
}

.skills-container li.css::after{
    animation-name: css;

}

@keyframes css{
    to{
        width: 70%;

    }
}

.skills-container li.photoshop::after{
    animation-name: photoshop;

}

@keyframes photoshop{
    to{
        width: 70%;

    }
}

.skills-container li.illustrator::after{
    animation-name: illustrator;

}

@keyframes illustrator{
    to{
        width: 80%;

    }
}

.skills-container li.ms-office::after{
    animation-name: ms-office;

}

@keyframes ms-office{
    to{
        width: 80%;

    }
}

.skills-container li.coral::after{
    animation-name: coral;

}

@keyframes coral{
    to{
        width: 70%;

    }
}


.skills-container li.max::after{
    animation-name: max;

}

@keyframes max{
    to{
        width: 70%;

    }
}






.professional-experience::after{
    content: '';
    display: table;
    clear: both;

}




/* <!-- professional experience ends here --> */



/* <!-- achievement-contact starts from here --> */

.achievement-contact{
    background-color: #39141c;
    color: white;
    padding: 1% 7%;
    width: 100%;
    height: 1200px;

}

.contact{
    text-align: center;
}

.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;

}

.contact button{
    border: none;
    border-radius: 12px;
    background-color: #383f33;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;
    


}

.contact-links{
    text-align: center;

}

.media-buttons .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 35px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    height: 100%;
    background-color: #fff;

}

.btn:hover{
    background-color: gray;
}


.contact-links{
    position: relative;

}
.media-buttons{
    position: absolute;
    margin-top: 200px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.achievement-contact::after{
    content: '';
    display: table;
    clear: both;

}




/* <!-- achievement-contact ends from here --> */


/* footer */
    .footer-container{
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 0.8;

    }


    .footer-manu a{
        display: block;
        margin: 15px 0;
        font-size: 1rem;
    }


    .footer-manu a:hover{
        color: gray;
    }



    .footer-container::after{
        content: '';
        display: table;
        clear: both;
    }







/* footer */